@import "tailwindcss";

:root {
  --main-bg: #F5F6FA;
  --accent-bg: #ffd6d6;
  --accent-text: #e57373;
  --accent-border: #ffd6d6;
  --accent-shadow: 0 4px 32px rgba(255,182,193,0.13);

  --orange: #FFA726;
  --orange-light: #FFE0B2;
  --orange-dark: #FB8C00;
  --orange-shadow: 0 4px 32px rgba(255,167,38,0.13);

  --peach-light: #FFF5EB;
  --block-bg: #F6F1EB;

  --gray: #bdbdbd;
  --white: #fff;
  --black: #111;

  --background: #fff;
  --foreground: #FFD600;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

footer {
  flex-shrink: 0;
  margin-top: 120px;
}

/* Удалить скрытие футера на странице отзывов */
